---
layout: default
section: blog
---

{% if page.image %}
<div class="mb-4">
  <img src='{{page.image}}' alt='splash image' class="img-responsive splash" />
</div>
{% endif %}

<div class="container">

  <div class="row blog">
    <div class="col-sm-12 col-lg-8">
      <h1>{{ page.title }}</h1>

      <h6 class="mb-4 mt-4">
        {% if page.author %}
        <autor class="label">
          <i class="fas fa-user"></i> {{ page.author }}
        </autor> |
        {% endif %}
        <i class="fas fa-calendar-alt"></i> <time datetime="{{post.date|date:"%F"}}">{{page.date|date:"%d.%m.%Y"}}</time> |
        <span class="category"><i class="fas fa-tags"></i> {{ page.tags | category_links }}</span>
      </h6>

      {{content}}

      <span class="category"><i class="fi-pricetag-multiple"></i> {{ page.tags | category_links }}</span>

      <hr>

      {% if page.previous %}
        <a rel="prev" class="left button round" href="{{ page.previous.url }}">
          <i class="fas fa-chevron-left"></i> Předchozí článek
        </a>
      {% endif %}
      {% if page.next %}
        <a rel="next" class="float-right button round" href="{{ page.next.url }}">
          Další článek <i class="fas fa-chevron-right"></i>
        </a>
      {% endif %}

    </div>


    <div class="col-sm-12 col-lg-4">
      {% include related.html %}
    </div>
  </div>

</div>
